/**
 *   RePEc style.
 */
#repec-settings-form .new_item {
  clear: left;
}

#repec-settings-form .button_remove {
  display: block;
  margin-top: 9px;
  float: left;
}

#repec-settings-form .select_content_type {
  width: auto;
  margin-right: 20px;
  float: left;
}

#repec-settings-form .select_series_fields {
  width: auto;
  margin-right: 20px;
  float: left;
  clear: left;
}

#repec-settings-form .check_delimiters {
  margin-top: 13px;
}

#repec-settings-form .button_add {
  display: block;
  margin-top: 9px;
}

#repec-settings-form .new_field {
  width: auto;
  margin-right: 20px;
  float: left;
}

#repec-settings-form #edit-repec-field-association,
#repec-settings-form #repec_field_association_fieldset {
  background-color: white;
}
